<included>
  <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <destination>logstash:5000</destination>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <providers>
        <pattern>
          <pattern>
            {
              "correlationId": "%X{correlationId}",
              "scopeId": "%X{scopeId}"
              "applicationLabel": "tpm-application-server",
            }
          </pattern>
        </pattern>
      </providers>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="LOGSTASH" />
  </root>
</included>
